<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/favicon-16.png" sizes="16x16"/>
    <link rel="icon" href="/favicon-32.png" sizes="32x32"/>
    <link rel="icon" href="/favicon-48.png" sizes="48x48"/>
    <link rel="icon" href="/favicon-62.png" sizes="62x62"/>
    <%= htmlWebpackPlugin.tags.headTags %>
  </head>
  <body>
    <div id="main"></div>
    <%= htmlWebpackPlugin.tags.bodyTags %>
  </body>
</html>
